@inject Services.PostService PostService
@using Microsoft.AspNetCore.Identity
@using AIArticleSiteTemplateProject.Data
@inject IJSRuntime JSRuntime
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer
@inject NavigationManager NavManager


@if (isLoading || comments is null)
{
<div>loading..</div>    
}
else
{
    <h3>Comments</h3>

    <div class="comments">
        @if (IsUserLoggedIn)
        {
            @if (showCommentSection)
            {
                <textarea @bind="newComment.CommentBody" id="commentTextArea" placeholder="Write a comment..."></textarea>
                <button @onclick="AddComment" style="background-color: #007BFF;margin-bottom:10px; color:white; padding:10px 20px; margin-top:10px; border:none; border-radius:5px; cursor:pointer;">Post Comment</button>
                <button class="button-x" @onclick="CancelComment">X</button>
                <label style="color:red;">@valComment</label>
                <span id="valCharCountComments" style="color:red;"></span>
            }
            else
            {
                <button @onclick="() => showCommentSection = true" style="background-color: #007BFF; margin-bottom:10px;color: white; padding:10px 20px; margin-top:10px; border:none; border-radius:5px; cursor:pointer;">Add a Comment</button>
            }

        }
        else
        {
            <p>You must be logged in to post a comment.</p>
        }

     


        @if (comments!.Count == 0)
        {

            <label style="display:block;">No comments on this article yet.</label>
        }
        else
        {
            @foreach (var comment in comments)
            {
                <div class="comment">
                    <div class="profile-section" @onclick="() => NavigateToProfile(comment.UserName)">
                        @if (userPhotos.ContainsKey(comment!.UserId))
                        {
                            <img class="profile-photo" style="cursor:pointer;" src="@userPhotos[comment.UserId]" />
                        }
                        <p class="username" style="cursor:pointer;">@comment.UserName</p>
                    </div>
                    <p class="comment-body">@comment.CommentBody</p>
                    <p class="comment-date">Posted on: @comment.CommentSysDate</p>

                    @if (IsUserLoggedIn && comment.ParentCommentId == null)
                    {
                        <button disabled="@replyButtonDisabled" @onclick="() => BeginReply(comment)">Reply</button>
                    }

                    @if (comment.Replies != null && comment.Replies.Any())
                    {
                        <button @onclick="() => ToggleReplies(comment.CommentId)">
                            @if (shownReplies.Contains(comment.CommentId))
                            {
                                @:Hide Replies
                            }
                            else
                            {
                                @:Show Replies
                            }
                        </button>

                        @if (shownReplies.Contains(comment.CommentId))
                        {
                            <div class="replies">
                                @foreach (var reply in comment.Replies)
                                {
                                   <div class="reply reply-box" @onclick="() => NavigateToProfile(reply.UserName)">
                                        <div class="profile-section">
                                            @if (userPhotos.ContainsKey(reply!.UserId))
                                            {
                                                <img class="profile-photo" style="cursor:pointer;" src="@userPhotos[reply.UserId]" />
                                            }
                                            <p class="username" style="cursor:pointer;">@reply.UserName</p>
                                        </div>
                                        <p class="comment-body">@reply.CommentBody</p>
                                        <p class="comment-date">Posted on: @reply.CommentSysDate</p>
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>

    @if (replyToComment != null)
    {
        <div class="modal" style="display: @(showReplySection ? "block" : "none");">
            <div class="modal-content">
                <h3>Reply to @parentCommentersUsername</h3>
                <div>@AbbreviateComment(replyToComment.CommentBody!)</div>
                <textarea @bind="newReply.CommentBody" id="replyTextArea" placeholder="Write a reply..."></textarea>
                <button @onclick="AddReply" style="background-color: #007BFF; color: white; padding:10px 20px; margin-top:10px; border:none; border-radius:5px; cursor:pointer;">Post Reply</button>
                <button class="button-x" @onclick="CancelReply">X</button>
                <label style="color:red;" >@valReply</label>
                <span id="valCharCountReplys" style="color:red;"></span>
            </div>
        </div>
    }
}
    


@code {
    [Parameter]
    public int PostId { get; set; }
    [Parameter]
    public string? PostShortTitle { get; set; }

    public int postIdParsed;

    private ApplicationUser? CurrentUser { get; set; }
    private bool IsUserLoggedIn { get; set; }

    private bool replyButtonDisabled = false;
    private string? parentCommentersUsername { get; set; }

    private bool showCommentSection = false;
    private bool showReplySection = false;

    private Post? post;
    private List<Comment>? comments;
    private Comment? replyToComment;
    private Comment newComment = new Comment();
    private Comment newReply = new Comment();

    public string valReply = "";
    public string valComment = "";

    public bool isLoading = true;
    private Dictionary<string, string> userPhotos = new Dictionary<string, string>();

    private HashSet<int> shownReplies = new HashSet<int>();

    protected override async Task OnInitializedAsync()
    {
        comments = await PostService.GetCommentsByPostId(PostId);

        foreach (var comment in comments)
        {
            var commentUser = await UserManager.FindByIdAsync(comment!.UserId!);
            if (commentUser != null)
            {
                userPhotos[comment.UserId] = commentUser!.ProfilePhoto!;
            }
        }


        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        IsUserLoggedIn = SignInManager.IsSignedIn(user); // Check if user is logged in

        if (IsUserLoggedIn)
        {
            CurrentUser = await UserManager.GetUserAsync(user); // Get the logged-in user's information
            userPhotos[CurrentUser!.Id] = CurrentUser!.ProfilePhoto!;
        }
        isLoading = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (showCommentSection || showReplySection)
        {
            await JSRuntime.InvokeVoidAsync("initializeCommentListener");
        }
    }


    private async Task AddComment()
    {
        const int maxCommentSize = 500;

        if (String.IsNullOrWhiteSpace(newComment.CommentBody))
        {
            valComment = "Your comment cannot be empty, please say something!";
            return;
        }
        else
        {
            valComment = "";
        }

        newComment.PostId = PostId;
        newComment.UserId = CurrentUser!.Id; // Assign the user's ID to the comment
        newComment.UserName = CurrentUser.UserName; // Assign the user's username to the comment
        await PostService.AddComment(newComment);
        await PostService.IncrementTotalComments(PostId);
        comments = await PostService.GetCommentsByPostId(PostId); // Refresh comments
        newComment = new Comment(); // Clear the new comment
        showCommentSection = false;
    }

    private void CancelComment()
    {
        newComment = new Comment(); // Clear the new comment
        valComment = "";
        showCommentSection = false;
    }

    private async Task AddReply()
    {
        if (String.IsNullOrWhiteSpace(newReply.CommentBody))
        {
            valReply = "Your reply cannot be empty, please say something!";
            return;
        }
        else
        {
            valReply = "";
        }

        replyToComment = null; // Clear the reply target
        replyButtonDisabled = false;
        newReply.PostId = PostId;
        newReply.ParentCommentId = replyToComment!.CommentId!;
        newReply.UserId = CurrentUser!.Id; // Assign the user's ID to the reply
        newReply.UserName = CurrentUser!.UserName; // Assign the user's username to the reply
        await PostService.AddComment(newReply);
        await PostService.IncrementTotalComments(PostId);
        comments = await PostService.GetCommentsByPostId(PostId); // Refresh comments
        newReply = new Comment(); // Clear the new reply
        

    }

    private async Task BeginReply(Comment comment)
    {
        var user = await UserManager.FindByIdAsync(comment.UserId!);
        parentCommentersUsername = user!.UserName;
        replyButtonDisabled = true;
        showReplySection = true;
        replyToComment = comment;
        await JSRuntime.InvokeVoidAsync("scrollToElement", "reply-modal");
    }

    private void CancelReply()
    {
        newReply = new Comment(); // Clear the reply target
        replyButtonDisabled = false; // Enable the reply button
        parentCommentersUsername = ""; //Reset name in the modal
        valReply = "";
        showReplySection = false;
    }

    private void ToggleReplies(int commentId)
    {
        if (shownReplies.Contains(commentId))
        {
            shownReplies.Remove(commentId);
        }
        else
        {
            shownReplies.Add(commentId);
        }
    }

    public string AbbreviateComment(string comment, int maxLength = 100)
    {
        if (string.IsNullOrEmpty(comment))
        {
            return "";
        }

        if (comment.Length <= maxLength)
        {
            return comment;
        }

        return comment.Substring(0, maxLength) + "...";
    }

    private void NavigateToProfile(string username)
    {
        NavManager.NavigateTo($"/profile/{username}");
    }

}
