@page "/"
@inject Services.PostService PostService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.WebUtilities
<PageTitle>Home</PageTitle>

@if (isLoading)
{
<div>Loading..</div>    
}
else
{
    <div class="categories-container">
        <div class="category-list">
            <a href="@GetFilterUrl(null)" style="text-decoration: none; color: inherit;">
                <div class="category @((string.IsNullOrEmpty(selectedCategoryId)) ? "selected-category" : "")">
                    #All
                </div>
            </a>
            
            @if (categories != null)
            {
                foreach (var category in categories)
                {
                    @if (category.isActiveFlag)
                    {
                        <a href="@GetFilterUrl(category.CategoryId.ToString())" style="text-decoration: none;">
                        <div class="category @((selectedCategoryId == category.CategoryId.ToString()) ? "selected-category" : "")">
                            @category.CategoryHashTag
                        </div>
                        </a>
                    }
                }
            }
        </div>
    </div>


     <div class="filter-container">
        <h3>Trending Posts</h3>
        <form method="get">
                <label>Show: </label>
            <select name="trendingAmount" class="sort-dropdown" value="@TrendingPostSelectionNumberAmount" onchange="saveScrollPosition('indexScrollPosition'); this.form.submit()">
                    <option value="9">9</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                </select>

                <label>From: </label>
            <select name="trendingDays" class="sort-dropdown" value="@TrendingPostSelectionDayAmount" onchange="saveScrollPosition('indexScrollPosition'); this.form.submit()">
                    <option value="7">Week</option>
                    <option value="31">Month</option>
                    <option value="45">45 Days</option>
                    <option value="91">Three Months</option>
                </select>

            @if (!string.IsNullOrEmpty(selectedCategoryId))
            {
                <input type="hidden" name="category" value="@selectedCategoryId" />
            }

            <input type="hidden" name="posts" value="@RecentPostSelectingNumberAmount" />
        </form>
    </div>

    @if (trendingPosts != null)
    {
        <div class="news-grid">
            @foreach (var post in trendingPosts)
            {
                <div class="news-card">
                    <a href="/article/@post.PostId/@post.PostShortTitle">
                        <img src="@post.HeaderImage" alt="@post.PostTitle">
                    </a>
                    <div class="news-card-body">
                        <a href="/article/@post.PostId/@post.PostShortTitle">
                            <h5>@post.PostTitle</h5>
                        </a>
                        <p>@post.PostSysDate?.ToString("dddd MM-dd-yyyy h:mm tt")</p>
                    </div>
                </div>
            }
        </div>
    }

    <div class="filter-container">
        <h3>Recent Posts</h3>
        <form method="get">
            <div>
                <label>Show: </label>
                <select name="posts" class="sort-dropdown" value="@RecentPostSelectingNumberAmount" onchange="saveScrollPosition('indexScrollPosition'); this.form.submit()">
                    <option value="6">6</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                </select>

                @if (!string.IsNullOrEmpty(selectedCategoryId))
                {
                    <input type="hidden" name="category" value="@selectedCategoryId" />
                }

                <input type="hidden" name="trendingAmount" value="@TrendingPostSelectionNumberAmount" />
                <input type="hidden" name="trendingDays" value="@TrendingPostSelectionDayAmount" />

            </div>
        </form>
    </div>

    @if (recentPosts != null)
    {
        <div class="news-grid">

            @foreach (var post in recentPosts)
            {
                <div class="news-card">
                    <a href="/article/@post.PostId/@post.PostShortTitle">
                        <img src="@post.HeaderImage" alt="@post.PostTitle">
                    </a>
                    <div class="news-card-body">
                        <a href="/article/@post.PostId/@post.PostShortTitle">
                            <h5>@post.PostTitle</h5>
                        </a>
                        <p>@post.PostSysDate?.ToString("dddd MM-dd-yyyy h:mm tt")</p>
                    </div>
                </div>
            }
        </div>
    }
}
@code {
    private bool isLoading = true;
    private List<Post>? recentPosts;
    private List<Post>? trendingPosts;
    private List<Category>? categories;
    public string TrendingPostSelectionDayAmount { get; set; } = "7"; 
    public string TrendingPostSelectionNumberAmount { get; set; } = "9";
    public string RecentPostSelectingNumberAmount { get; set; } = "6"; 
    private string selectedCategoryId = "";

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);

        //get the category id from query string (if there is one)
        if (query.TryGetValue("category", out var categoryValue))
        {
            selectedCategoryId = categoryValue.FirstOrDefault() ?? "";
        }

        if (query.TryGetValue("trendingDays", out var trendingDays))
        {
            TrendingPostSelectionDayAmount = trendingDays.FirstOrDefault() ?? TrendingPostSelectionDayAmount;
        }
        else
        {
            TrendingPostSelectionDayAmount = TrendingPostSelectionDayAmount; 
        }

        if (query.TryGetValue("trendingAmount", out var trendingAmount))
        {
            TrendingPostSelectionNumberAmount = trendingAmount.FirstOrDefault() ?? TrendingPostSelectionNumberAmount;
        }
        else
        {
            TrendingPostSelectionNumberAmount = TrendingPostSelectionNumberAmount;
        }

        if (query.TryGetValue("posts", out var posts))
        {
            RecentPostSelectingNumberAmount = posts.FirstOrDefault() ?? RecentPostSelectingNumberAmount;
        }
        else
        {
            RecentPostSelectingNumberAmount = RecentPostSelectingNumberAmount; 
        }

        if (string.IsNullOrEmpty(selectedCategoryId))
        {
            recentPosts = await PostService.GetRecentPosts(Convert.ToInt32(RecentPostSelectingNumberAmount));
            trendingPosts = await PostService.GetTrendingPosts(Convert.ToInt32(TrendingPostSelectionNumberAmount), Convert.ToInt32(TrendingPostSelectionDayAmount));
        }
        else
        {
            recentPosts = await PostService.GetRecentPostsByCategory(Convert.ToInt32(RecentPostSelectingNumberAmount), Convert.ToInt32(selectedCategoryId));
            trendingPosts = await PostService.GetTrendingPostsByCategory(Convert.ToInt32(TrendingPostSelectionNumberAmount), Convert.ToInt32(TrendingPostSelectionDayAmount), Convert.ToInt32(selectedCategoryId));
        }

        categories = await PostService.GetCategories();
        isLoading = false;
    }


    private string GetFilterUrl(string categoryId)
    {
        var queryParams = new Dictionary<string, string>();

        if (!string.IsNullOrEmpty(categoryId))
        {
            queryParams["category"] = categoryId;
        }

        if (!string.IsNullOrEmpty(TrendingPostSelectionNumberAmount))
        {
            queryParams["trendingAmount"] = TrendingPostSelectionNumberAmount;
        }

        if (!string.IsNullOrEmpty(TrendingPostSelectionDayAmount))
        {
            queryParams["trendingDays"] = TrendingPostSelectionDayAmount;
        }

        if (!string.IsNullOrEmpty(RecentPostSelectingNumberAmount))
        {
            queryParams["posts"] = RecentPostSelectingNumberAmount;
        }

        var query = QueryHelpers.AddQueryString("", queryParams!);
        return query == "" ? "/" : query; 
    }
 
}
